<div class="bg-blue-800 text-center p-3 py-5 w-full text-white">
	Sorry! online payment method is not avaialable for now, Please contact our customer support line
	<span class="font-bold">+2348144580946</span> to complete your transaction
</div>